@import "normalize.css";
@import "owl.theme.default.css";
@import "owl.carousel.css";
@import "owl.carousel.min.css";
@import "owl.theme.default.min.css";
@import "https://fonts.googleapis.com";
@import "https://fonts.gstatic.com";
@import "https://fonts.googleapis.com/css2?family=Inter&family=Readex+Pro&display=swap";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.dropbtn {
  color: white;
  border: none;
  margin-left: 30px;
}

.dropdown {
  position: relative;
  display: inline-block;
  transition: 0.3s;
}
.dropdown:hover {
  transform: scale(1.1);
}
.dropdown:after {
  content: "";
  background-image: url("../images/Vector.svg");
  width: 12px;
  height: 8px;
  display: inline-block;
  cursor: pointer;
  margin-right: 30px;
}
.dropdown .dropbtn {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: black;
  background-color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: black;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
}

img {
  width: 100%;
  display: block;
}

header {
  background-color: white;
  padding: 30px 0;
  position: absolute;
  z-index: 15;
  width: 100%;
}
@media screen and (max-width: 1294px) {
  header .logo_header {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.hidden {
  transform: translateX(100%);
}

.mobile_menu {
  position: fixed;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  background-color: white;
  transition: all 0.3s;
  text-align: center;
  padding-top: 25%;
}
.mobile_menu li {
  list-style: none;
}
@media screen and (max-width: 767px) {
  .mobile_menu a {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: black;
    display: inline-block;
    text-align: center;
    margin-bottom: 15px;
    transition: 0.3s;
  }
  .mobile_menu a:hover {
    transform: scale(1.1);
  }
}

.no-scroll {
  overflow: hidden;
}

.mobile_icon {
  display: inline-flex;
}
.mobile_icon a {
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
  margin-right: 10px;
  margin-left: 10px;
}
.mobile_icon a:hover {
  transform: scale(1.1);
}

.container_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1294px;
  box-sizing: border-box;
  margin: auto;
}
.container_nav .hamburger {
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  z-index: 16;
  display: none;
  margin-right: 15px;
}
@media screen and (max-width: 767px) {
  .container_nav .hamburger {
    display: inline-block;
  }
}
.container_nav .hamburger .hamburger_top, .container_nav .hamburger .hamburger_middle, .container_nav .hamburger .hamburger_bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 2px;
  background: #4B4B4B;
}
.container_nav .hamburger .hamburger_middle {
  transform: translateY(7px);
}
.container_nav .hamburger .hamburger_bottom {
  transform: translateY(14px);
}
.container_nav nav {
  display: flex;
}
@media screen and (max-width: 767px) {
  .container_nav nav {
    display: none;
  }
}
.container_nav nav ul {
  display: flex;
  justify-content: space-between;
}
.container_nav nav ul li {
  list-style: none;
  margin-left: 30px;
}
.container_nav nav ul li:first-of-type {
  margin-left: 0;
}
.container_nav nav ul li:last-of-type {
  margin-right: 0;
}
.container_nav nav ul li a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: black;
  display: inline-block;
  transition: 0.3s;
}
.container_nav nav ul li a:hover {
  transform: scale(1.1);
}
.container_nav .icon {
  display: inline-flex;
  justify-content: space-between;
  max-width: 110px;
}
@media screen and (max-width: 767px) {
  .container_nav .icon {
    display: none;
  }
}
@media screen and (max-width: 1294px) {
  .container_nav .icon {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.container_nav .icon a {
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
}
.container_nav .icon a:hover {
  transform: scale(1.1);
}
.container_nav .icon a:first-of-type:before {
  content: "";
  background-image: url("../images/icon_search.svg");
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 12px;
}
.container_nav .icon a:last-of-type:before {
  content: "";
  background-image: url("../images/icon_shopping_cart.svg");
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 12px;
}

.section_main {
  background-color: white;
  background-size: cover;
  margin: auto;
  padding-top: 108px;
  padding-bottom: 37px;
}
@media screen and (max-width: 1294px) {
  .section_main {
    padding-left: 15px;
    padding-right: 15px;
    background-size: inherit;
    text-align: center;
  }
}

.main_banner {
  justify-content: center;
  background-color: #DCE5E2;
  border-radius: 32px;
  margin: auto;
  max-width: 1294px;
  display: flex;
}
@media screen and (max-width: 1294px) {
  .main_banner {
    display: inline-block;
  }
}
.main_banner .container_mb {
  max-width: 647px;
}
@media screen and (max-width: 1294px) {
  .main_banner .container_mb {
    width: 100%;
    margin: auto;
    text-align: center;
  }
}
.main_banner .container_mb h1 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 70px;
  color: black;
  margin-top: 154px;
  margin-left: 56px;
  max-width: 558px;
}
@media screen and (max-width: 1294px) {
  .main_banner .container_mb h1 {
    margin-left: inherit;
    margin-right: inherit;
  }
}
@media screen and (max-width: 768px) {
  .main_banner .container_mb h1 {
    font-size: 45px;
    line-height: 45px;
  }
}
@media screen and (max-width: 428px) {
  .main_banner .container_mb h1 {
    font-size: 30px;
    line-height: 30px;
    margin-top: 54px;
  }
}
.main_banner .container_mb p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: black;
  margin-top: 19px;
  margin-left: 56px;
  max-width: 565px;
  margin-bottom: 44px;
}
@media screen and (max-width: 428px) {
  .main_banner .container_mb p {
    margin-left: inherit;
  }
}
.main_banner .container_mb a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  color: black;
  border: 1px solid #000000;
  border-radius: 200px;
  text-decoration: none;
  padding: 14px 53px;
  margin-left: 56px;
  display: inline-block;
  transition: 0.3s;
}
@media screen and (max-width: 1294px) {
  .main_banner .container_mb a {
    margin-left: inherit;
    margin-right: inherit;
  }
}
@media screen and (max-width: 428px) {
  .main_banner .container_mb a {
    margin-left: inherit;
  }
}
.main_banner .container_mb a:hover {
  transform: scale(1.1);
}

.shop_our_latest {
  padding-top: 37px;
  padding-bottom: 39px;
  margin: auto;
}
@media screen and (max-width: 1294px) {
  .shop_our_latest {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.shop_our_latest .shop {
  max-width: 780px;
  margin: auto;
}
.shop_our_latest .shop h2 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: black;
  margin-bottom: 9px;
}
@media screen and (max-width: 768px) {
  .shop_our_latest .shop h2 {
    font-size: 45px;
    line-height: 45px;
  }
}
@media screen and (max-width: 1294px) {
  .shop_our_latest .shop h2 {
    margin-right: 15px;
    margin-left: 15px;
  }
}
.shop_our_latest .shop p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: black;
  margin-bottom: 55px;
}
@media screen and (max-width: 1294px) {
  .shop_our_latest .shop p {
    margin-right: 15px;
    margin-left: 15px;
  }
}
.shop_our_latest .products {
  max-width: 1294px;
  margin: auto;
  display: flex;
}
@media screen and (max-width: 768px) {
  .shop_our_latest .products {
    flex-wrap: wrap;
  }
}
.shop_our_latest .products .container_shadow {
  box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  border-radius: 32px;
  max-width: 312px;
  margin-left: 16px;
}
@media screen and (max-width: 769px) {
  .shop_our_latest .products .container_shadow {
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  .shop_our_latest .products .container_shadow {
    margin-left: inherit;
    margin-top: 15px;
  }
}
@media screen and (max-width: 390px) {
  .shop_our_latest .products .container_shadow {
    max-width: inherit;
    width: 100%;
    text-align: center;
  }
}
.shop_our_latest .products .container_shadow .phones {
  max-width: 312px;
  overflow: hidden;
  border-radius: 32px;
}
@media screen and (max-width: 390px) {
  .shop_our_latest .products .container_shadow .phones {
    max-width: inherit;
    align-items: center;
  }
}
.shop_our_latest .products .container_shadow .phones img {
  max-width: 405px;
  margin-top: 144px;
  margin-left: 16px;
  margin-bottom: 41px;
}
.shop_our_latest .products .container_shadow .phones p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: black;
  margin: auto;
}
.shop_our_latest .products .container_shadow .phones h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: black;
  margin: auto;
  padding-bottom: 144px;
}
@media screen and (max-width: 768px) {
  .shop_our_latest .products .container_shadow .phones h3 {
    padding-bottom: 10px;
  }
}
.shop_our_latest .products .container_shadow .Tablet {
  max-width: 312px;
  overflow: hidden;
  border-radius: 32px;
  padding-top: 114px;
}
@media screen and (max-width: 390px) {
  .shop_our_latest .products .container_shadow .Tablet {
    max-width: inherit;
    align-items: center;
  }
}
.shop_our_latest .products .container_shadow .Tablet img {
  max-width: 467px;
}
.shop_our_latest .products .container_shadow .Tablet p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: black;
  margin: auto;
}
.shop_our_latest .products .container_shadow .Tablet h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: black;
  margin: auto;
  padding-bottom: 42px;
}
.shop_our_latest .products .container_products {
  justify-content: space-between;
  display: block;
  margin: auto;
  flex-wrap: wrap;
}
.shop_our_latest .products .container_products .laptops {
  max-width: 639px;
  background: white;
  border-radius: 32px;
  margin-bottom: 72px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.shop_our_latest .products .container_products .laptops img {
  max-width: 500px;
  margin-right: 97px;
  margin-left: 42px;
}
.shop_our_latest .products .container_products .laptops p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: right;
  color: #000000;
  margin-right: 42px;
}
.shop_our_latest .products .container_products .laptops h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: right;
  color: #000000;
  margin-right: 42px;
}
.shop_our_latest .products .container_products .watch {
  max-width: 639px;
  background: white;
  border-radius: 32px;
  display: flex;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
@media screen and (max-width: 1294px) {
  .shop_our_latest .products .container_products .watch {
    display: block;
  }
}
.shop_our_latest .products .container_products .watch img {
  max-width: 381px;
  margin-right: 42px;
}
@media screen and (max-width: 1294px) {
  .shop_our_latest .products .container_products .watch img {
    margin: auto;
  }
}
.shop_our_latest .products .container_products .watch p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: right;
  color: black;
  margin-top: 87px;
  margin-right: 42px;
}
@media screen and (max-width: 1294px) {
  .shop_our_latest .products .container_products .watch p {
    margin-top: 25px;
  }
}
@media screen and (max-width: 992px) {
  .shop_our_latest .products .container_products .watch p {
    margin-top: 15px;
  }
}
.shop_our_latest .products .container_products .watch h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: right;
  color: black;
  margin-right: 42px;
}
@media screen and (max-width: 1294px) {
  .shop_our_latest .products .container_products .watch h3 {
    margin-right: 25px;
    margin-bottom: 5px;
  }
}

.save_on_our {
  background-color: white;
  margin: auto;
  padding-top: 39px;
  padding-bottom: 37px;
}
@media screen and (max-width: 1294px) {
  .save_on_our {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.save_on_our .container_save h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: black;
  margin: auto;
}
@media screen and (max-width: 1294px) {
  .save_on_our .container_save h3 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.save_on_our .container_save p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: black;
  text-align: center;
  margin-top: 9px;
  margin-bottom: 31px;
}
@media screen and (max-width: 1294px) {
  .save_on_our .container_save p {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.save_on_our .flex_container {
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  margin: auto;
  max-width: 1294px;
}
.save_on_our .flex_container .product {
  max-width: 302.5px;
}
@media screen and (max-width: 1294px) {
  .save_on_our .flex_container .product {
    margin-right: 15px;
  }
}
@media screen and (max-width: 665px) {
  .save_on_our .flex_container .product {
    margin: auto;
    padding-top: 15px;
  }
}
.save_on_our .flex_container .product h4 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  margin-top: 37px;
  margin-bottom: 9px;
}
.save_on_our .flex_container .product p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4B4B4B;
  margin-bottom: 25px;
}
.save_on_our .flex_container .product span {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: black;
}

.See_the_best {
  background-color: white;
  margin: auto;
  padding-top: 47px;
  padding-bottom: 28px;
}
@media screen and (max-width: 1294px) {
  .See_the_best {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.See_the_best .the_best h3 {
  margin: auto;
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: black;
}
@media screen and (max-width: 1294px) {
  .See_the_best .the_best h3 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.See_the_best .the_best p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: black;
  margin-top: 9px;
  margin-bottom: 56px;
  text-align: center;
}
@media screen and (max-width: 1294px) {
  .See_the_best .the_best p {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.See_the_best .container_flex {
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  margin: auto;
  max-width: 1294px;
  text-align: center;
}
.See_the_best .container_flex .product_smart {
  width: 413px;
  background-color: rgb(248, 249, 250);
  border-radius: 16px;
  padding-top: 41px;
  padding-bottom: 0;
}
@media screen and (max-width: 1294px) {
  .See_the_best .container_flex .product_smart {
    margin: auto;
  }
}
@media screen and (max-width: 1269px) {
  .See_the_best .container_flex .product_smart {
    margin-bottom: 15px;
  }
}
.See_the_best .container_flex .product_smart p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  color: black;
  margin: auto;
}
.See_the_best .container_flex .product_smart h4 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  color: black;
  margin: auto;
}
.See_the_best .container_flex .product_smart span {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  color: black;
  border: 1px solid #000000;
  border-radius: 200px;
  padding: 14px 63px;
  display: inline-block;
  transition: 0.3s;
  margin-top: 44px;
  margin-bottom: 44px;
}
.See_the_best .container_flex .product_smart span:hover {
  transform: scale(1.1);
}
.See_the_best .container_flex .product_smart span a {
  text-decoration: none;
}
.See_the_best .container_flex .product_smart .smart {
  max-width: 259px;
  margin: auto;
}
.See_the_best .container_flex .product_smart .smart_laptop {
  max-width: 294px;
  margin: auto;
}
.See_the_best .container_flex .product_smart .smart_light {
  max-width: 355px;
  margin: auto;
}

.section_ideas {
  padding-top: 47px;
  padding-bottom: 24px;
  background-color: white;
}
@media screen and (max-width: 1294px) {
  .section_ideas {
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
  }
}
.section_ideas .see_all {
  margin-top: 73px;
  text-align: center;
  align-items: center;
}
.section_ideas .see_all a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
  color: black;
  margin: auto;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
}
.section_ideas .see_all a:hover {
  transform: scale(1.1);
}
.section_ideas .see_all a:after {
  content: "";
  background-image: url("../images/vector_up.svg");
  width: 30px;
  height: 28px;
  display: inline-block;
  position: absolute;
}
.section_ideas .container_ideas h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: black;
  margin-bottom: 9px;
}
@media screen and (max-width: 1294px) {
  .section_ideas .container_ideas h3 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.section_ideas .container_ideas p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  color: black;
  margin-bottom: 56px;
}
.section_ideas .container_flex_ideas {
  display: flex;
  justify-content: space-between;
  max-width: 1294px;
  margin: auto;
}
@media screen and (max-width: 1294px) {
  .section_ideas .container_flex_ideas {
    margin: auto;
  }
}
@media screen and (max-width: 1097px) {
  .section_ideas .container_flex_ideas {
    display: block;
  }
}
.section_ideas .container_flex_ideas .img_ideas {
  max-width: 620px;
  overflow: hidden;
  border-radius: 16px;
}
@media screen and (max-width: 1097px) {
  .section_ideas .container_flex_ideas .img_ideas {
    max-width: inherit;
  }
}
.section_ideas .container_flex_ideas .list {
  max-width: 620px;
}
@media screen and (max-width: 1294px) {
  .section_ideas .container_flex_ideas .list {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 1097px) {
  .section_ideas .container_flex_ideas .list {
    max-width: inherit;
  }
}
@media screen and (max-width: 520px) {
  .section_ideas .container_flex_ideas .list {
    text-align: center;
  }
}
.section_ideas .container_flex_ideas .list ul li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: black;
  list-style: none;
  margin-bottom: 28px;
}
@media screen and (max-width: 1294px) {
  .section_ideas .container_flex_ideas .list ul li {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
  }
}
@media screen and (max-width: 520px) {
  .section_ideas .container_flex_ideas .list ul li {
    font-size: 20px;
  }
}

.section_else {
  padding-top: 51px;
  padding-bottom: 19px;
  background-color: white;
}
@media screen and (max-width: 1294px) {
  .section_else {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.section_else h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: black;
  margin-bottom: 24px;
}
.section_else .link {
  max-width: 660px;
  text-align: center;
  margin: auto;
  padding-bottom: 68px;
}
.section_else .link a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: black;
  background: white;
  border: 1px solid #C5C5C5;
  border-radius: 200px;
  display: inline-block;
  padding: 12px 22px;
  flex-wrap: wrap;
  margin-right: 7px;
  margin-top: 7px;
  text-decoration: none;
  transition: 0.3s;
}
.section_else .link a:hover {
  transform: scale(1.1);
}
.section_else .container_form {
  max-width: 935px;
  background-color: #DCE5E2;
  border-radius: 16px;
  text-align: center;
  margin: auto;
  padding-bottom: 43px;
  padding-top: 47px;
}
.section_else .container_form .form_email {
  max-width: 400px;
  margin: auto;
}
.section_else .container_form .form_email #email {
  background: #DCE5E2;
  border: 1px solid #000000;
  border-radius: 54px 0 0 54px;
  padding-left: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (max-width: 414px) {
  .section_else .container_form .form_email #email {
    border-radius: 54px;
    display: block;
    margin: auto;
  }
}
.section_else .container_form .form_email .btn {
  background: black;
  border-radius: 0 200px 200px 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: white;
  padding: 16px 33px 17px 32px;
  cursor: pointer;
}
@media screen and (max-width: 414px) {
  .section_else .container_form .form_email .btn {
    border-radius: 200px;
    margin-top: 10px;
  }
}
.section_else .container_form h4 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: black;
  margin-bottom: 9px;
}
.section_else .container_form p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: black;
  margin-bottom: 14px;
}
.section_else .container_form .img_laptop {
  max-width: 233px;
  align-items: center;
  display: inline-block;
  margin-bottom: 14px;
}
.section_else .box {
  margin: auto;
  max-width: 650px;
  height: 60px;
}
.section_else .box .container-1 {
  position: relative;
}
.section_else .box .container-1 input#search {
  width: 650px;
  height: 60px;
  background: rgb(248, 249, 250);
  border: 1px solid #C5C5C5;
  border-radius: 100px;
  float: left;
  padding-left: 67px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: black;
}
@media screen and (max-width: 768px) {
  .section_else .box .container-1 input#search {
    width: 100%;
  }
}
.section_else .box .container-1 .icon {
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 2;
  color: #4f5b66;
  display: block;
}

footer {
  background: #F8F9FA;
  padding-top: 29px;
}
footer .container_footer {
  max-width: 1294px;
  justify-content: space-between;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 1294px) {
  footer .container_footer {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media screen and (max-width: 634px) {
  footer .container_footer {
    justify-content: space-around;
  }
}
footer .container_footer .logo_footer.list_footer {
  max-width: 394px;
}
@media screen and (max-width: 992px) {
  footer .container_footer .logo_footer.list_footer {
    max-width: 200px;
  }
}
footer .container_footer .logo_footer.list_footer img {
  max-width: 181px;
  margin-top: 10px;
  margin-bottom: 18px;
}
footer .container_footer .logo_footer.list_footer p {
  margin-bottom: 102px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: black;
}
@media screen and (max-width: 768px) {
  footer .container_footer .logo_footer.list_footer p {
    margin-bottom: inherit;
  }
}
footer .container_footer .list_footer {
  max-width: 197px;
  margin-bottom: 78px;
}
@media screen and (max-width: 768px) {
  footer .container_footer .list_footer {
    margin-right: 20px;
    margin-bottom: 15px;
  }
}
footer .container_footer .list_footer h5 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: black;
  margin-bottom: 19px;
}
footer .container_footer .list_footer ul li {
  list-style: none;
  margin-bottom: 14px;
  transition: 0.3s;
}
footer .container_footer .list_footer ul li:hover {
  transform: scale(1.1);
}
footer .container_footer .list_footer ul li a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: black;
  text-decoration: none;
}
footer .made_by {
  max-width: 1350px;
  justify-content: space-between;
  display: flex;
  padding: 52px 28px 4px;
  margin: auto;
  border-top: solid 1px;
  border-color: rgb(220, 229, 226);
}
@media screen and (max-width: 768px) {
  footer .made_by {
    padding-top: 15px;
  }
}
footer .made_by a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: black;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  footer .made_by a {
    font-size: 14px;
  }
}
footer .made_by a:after {
  content: "";
  background-image: url("../images/vector_footer.svg");
  width: 21px;
  height: 18px;
  display: inline-block;
  position: relative;
  top: 4px;
}
@media screen and (max-width: 768px) {
  footer .made_by a:after {
    display: none;
  }
}
footer .made_by a span {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: black;
}
@media screen and (max-width: 768px) {
  footer .made_by a span {
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
